.results_container {
  margin: 1rem auto;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  font-size: $small;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;

  &_wrapper {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: $white;
    padding: 0 1rem;
  }
}

